<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmes</title>
    <link rel="stylesheet" href="{% static 'filmes/style.css' %}">
</head>
<body>
    <h1>Meus Filmes</h1>
    <div class="main">
        {% for filme in filmes%}
        <div class="filme">
            <a href="http://localhost:8000/filmes/{{filme.id}}">
                <h3>{{filme.movie_title}}</h3>
                <img class="img_poster" src="{{filme.poster.url}}" alt="Imagem">
            </a>
        </div>

        {% endfor %}
    </div>
    

</body>
</html>